@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    src: local("Raleway Thin"), local("Raleway-Thin"), url("//fonts.gstatic.com/s/raleway/v11/rr0ijB5_2nAJsAoZ6vECXRJtnKITppOI_IvcXXDNrsc.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    src: local("Raleway Thin"), local("Raleway-Thin"), url("//fonts.gstatic.com/s/raleway/v11/RJMlAoFXXQEzZoMSUteGWFtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url("//fonts.gstatic.com/s/raleway/v11/cbAbzEjxTdN5KKmS-gA0tSEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url("//fonts.gstatic.com/s/raleway/v11/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: local("Raleway Light"), local("Raleway-Light"), url("//fonts.gstatic.com/s/raleway/v11/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: local("Raleway Light"), local("Raleway-Light"), url("//fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), local("Raleway-Regular"), url("//fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), local("Raleway-Regular"), url("//fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: local("Raleway Medium"), local("Raleway-Medium"), url("//fonts.gstatic.com/s/raleway/v11/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: local("Raleway Medium"), local("Raleway-Medium"), url("//fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("//fonts.gstatic.com/s/raleway/v11/STBOO2waD2LpX45SXYjQBSEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("//fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: local("Raleway Bold"), local("Raleway-Bold"), url("//fonts.gstatic.com/s/raleway/v11/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: local("Raleway Bold"), local("Raleway-Bold"), url("//fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("//fonts.gstatic.com/s/raleway/v11/QoPu455RxV2raYSIFXAMBSEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("//fonts.gstatic.com/s/raleway/v11/1ImRNPx4870-D9a1EBUdPPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    src: local("Raleway Black"), local("Raleway-Black"), url("//fonts.gstatic.com/s/raleway/v11/Ji5epXNcpHu3r63lhS0cTiEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    src: local("Raleway Black"), local("Raleway-Black"), url("//fonts.gstatic.com/s/raleway/v11/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*@import 'https://fonts.googleapis.com/css?family=Baloo+Da';*/

.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #fec503;
}

a {
    color: #4b4b4b;
}

.is-drilldown-submenu-item {
    background-color: transparent;
}

.side-nav {
    margin-top: 2rem;
    list-style-type: none;
}

.side-nav li a:not(.button) {
    color: #000000;
}

.side-nav li a:not(.button):hover {
    color: #fec503;
}

header {
    background-color: #15848F;
    color: #ffffff;
    font-size: 30px;
    height: 84px;
    line-height: 64px;
    padding: 16px 0px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
    padding-left:80px
}

legend {
    color:#15848F;
}

.row {
    max-width: 80rem;
}

.actions.columns {
    margin-top:1rem;
    border-left: 5px solid #15848F;
    padding-left: 15px;
    padding: 32px 20px;
}

.actions.columns h3 {
    color:#15848F;
}

.index table {
    margin-top: 2rem;
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.related table {
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    margin-right:2rem;
    margin-top: -80px;
    font-size:16px;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #0097a7;
    color: #FFF;
    border-radius: 1000px;
}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.form button:hover, .form button:focus {
    background: #7A6058;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.26) !important;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.required > label {
    font-weight: bold;
}
.required > label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height:150px;
    background: none;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color:#DCE47E;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right:0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}
.view .numbers .subheader, .view .dates .subheader {
    color:#747474;
}
.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top:1.2rem;
    border-bottom: 1px solid #eee;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0 ,0 , 0.74);
    padding:5px;
}

.cake-error .cake-stack-trace {
    margin-top:10px;
}

.cake-stack-trace code {
    background: inherit;
    border:0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color:#fff;
    text-decoration: underline;
}

.home header {
    width: 100%;
    height: 85%;
    position: relative;
    display: table;
}

.home h1 {
    font-family: "Raleway", "Gill Sans MT", Calibri, sans-serif;
}

.home header .header-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home header h1 {
    color: #fff;
}

#content {
    padding-top: 2em;
    margin: 0 auto;
    width: 95%;
}

.checks {
    padding:30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home .checks.ctp-warning {
    color: #fff;
    background-color: #ff5555;
}

.home .checks.url-rewriting {
    background-color: #F0F0F0;
    display: none;
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}
.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

.top-bar.expanded .title-area {
    background: #2b333d;
}

.top-bar.expanded,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    background: #2b333d;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #308e97;
    background: #2b333d;
}

.top-bar a {
    color: white;
}

.top-bar .button {
    background: transparent;
}

.top-bar-title {
    color: #F9F9F9;
    /*font-family: "Baloo Da";*/
    font-size: 24px;
    letter-spacing: 0.01em;
    margin-left: 40px;
    margin-right: 40px;
    /*margin-top: 2px;*/
}

.separator {
    border-right: 1px solid #FAFAFA; height:32px;
    margin-left: 20px;
    padding-right: 60px;
}

.side-nav li.heading {
    color: #be140b;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.875rem;
    list-style-type: none;
}

#actions-sidebar {
    background: #fafafa;
}

.index table {
    margin-top: 0rem;
    border: 0;
}

table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #1798A5;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #000000;
    text-align: left;
    border-bottom: 2px solid #1798A5;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid white;
    width: 100%;
    line-height: 2rem;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: none;
}

.form button:hover, .form button:focus {
    background: #fec503;
    box-shadow: none;
}

button {
    background: #cea332;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fefefe;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1;
    margin: 0 0 1rem;
    padding: 0.85em 1.5em;
    text-align: center;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
    vertical-align: middle;
}

button:hover {
    background: #fec503;
}

div.message {
	text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}


.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #09661A;
    border: none;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}

/* Use 'one true layout' methods to get equal height columns */
.container {
    overflow: hidden;
    min-height: 92%; /* full height almost always */
}

/* Force equal height by overflowing */
.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
@media(max-width: 640px) {
    #actions-sidebar {
        padding-bottom: 2rem;
        margin-bottom: 0;
    }
}

.content h3 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
}

.content h4 {
    color: #be140b;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #be140b;
}

.content .related h4 {
    color: #4d8f97;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 0px;
}

.footer {
    background-color: #6f6f6f;;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem;
}
.footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem;
}
.footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0;
}
.footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;
}
.footer .links a::after {
    content: "•";
    padding: 0 0.4rem 0 0.8rem;
}
.footer .links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem;
}
.rounded-toolbar-img img {
    width: 42px;
    display: block;
    /*margin: 2rem auto;*/
    text-align: center;
    border-radius: 50%;
    margin-top: -8px;
    /*margin-left: 3px;*/
    /*margin-right: 12px;*/
    /*box-shadow: 2px 2px 5px #888888;*/
}
.simple-panel {
    position: fixed;
    height: 100%;
    width: 400px;
    background: #CDC9C9;
    padding: 1em;
    z-index: 9999;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform ease 0.25s;
    box-shadow: none; }
.simple-panel.right {
    right: 0;
    transform: translateX(100%); }
.simple-panel.top {
    width: 100%;
    height: 300px;
    transform: translateY(-100%); }
.simple-panel.bottom {
    width: 100%;
    height: 300px;
    bottom: 0;
    transform: translateY(100%); }
.simple-panel.is-active {
    box-shadow: 0.01em 0 0.5em #737373;
    transform: translate(0, 0); }
.simple-panel::-webkit-scrollbar {
    display: none; }